MPDT_FileGeneration_ModelNumberPatch/Logs/*
*.log
*.pkl
*.pyc

/MPDT_FileGeneration_ModelNumberPatch/Output*
/MPDT_FileGeneration_ModelNumberPatch/output_*
MPDT_FileGeneration_ModelNumberPatch/**/__pycache__/*
MPDT_FileGeneration_ModelNumberPatch/**/*.pyc
MPDT_FileGeneration_ModelNumberPatch/Input/DB_Cache/*.meta.json
MPDT_FileGeneration_ModelNumberPatch/Input/All_Current_DM3_files.xlsx
/MPDT_FileGeneration_ModelNumberPatch/output_pw_20260616_164544
